@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";
@import './functions.scss';

:root {
	--vh: 1vh;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-width: 23,4375em;
}
