$main-color: #0b0b0a;
$white: #ffffff;
$gray: #6d6d6d;
$yellow: #e4c086;
$input-text-color: #fcfcfc;
$input-placeholder-color: #999999;
$button-disabled-background-color: #1c1c1c;
$button-disabled-text-color: #282828;
$form-background-color: #131313;
$form-error-color: #fd4646;
$form-icon-background-color: #353535;
